<link rel="stylesheet" href="/testStyle.css">
<%-include("includes/header")%>
<div class="box">
    <input type="checkbox" id="check1">
    <label for="check1">Button 1</label>
    <input type="checkbox" id="check2">
    <label for="check2">Button 2</label>
    <div class="tube-light"></div>
    <p>You wish to test <%=data%></p>
</div>
<%-include("includes/footer")%>